*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
    /* background-color: rgb(215, 238, 238) !important; */
    /* background-color: rgb(42, 77, 94) !important; */
    background: radial-gradient(rgb(145, 141, 141),#132e57);
}
label{
    color:white;
}
#search{
    background-color: #075777;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}
#search:hover{
    background-color: #03212c;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
#MenuItems li{
    color:white;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
}
a{
    text-decoration: none;
    color: rgb(247, 239, 239);
    font-weight: bold;
}
p{
    color: rgb(252, 248, 248);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    height: 600px;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn {
    display: inline-block !important;
    background: #0881a7 !important;
    color: aliceblue !important;
    padding: 8px 30px !important;
    margin: 30px 0 !important;
    border-radius: 30px !important;
    transition: background 0.5s !important;
}
.btn:hover{
    background:#021e31 !important;
}
.header{
    /* background: radial-gradient(rgb(156, 146, 146),#153c77); */
    background-image: url("https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNob3BzfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:768px){
    .header{
        background-image: url("img/2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}
    }
}

.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.w3-tag{
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    font-weight: bold;
    color: rgb(235, 229, 229);
}
.title::after{
    content: " ";
    background: #0c1e25;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color:rgb(24, 22, 22);
    font-weight: bolder;
}
.col-4 p {
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#0f284d);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

.testimonial{
    padding-top: 100px;
    

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: white;
    border-radius: 10px;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;

}


.brands{
    margin: 100px auto;

}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.features .ct{
    background-color: white;
}


.features .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.3) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: rgb(224, 233, 233);
    border-radius: 10px;
    color:black;
}
.features .col-3:hover{
    transform: translateY(-10px);
}


.footer{
    background: #000;
    color: #e7dddd;
    font-size:14px ;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(14, 105, 117,0.6);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* ------------  filters  ------------ */
  .filters{
      max-width: 20%;
      position: absolute;
      border-right: 2px solid #555;
      color:white;
      
  }
  @media screen and (max-width: 768px) {
    .filters{
        display: none;
    }
  }
  .filters .col-2{
    text-align: left;
    margin-bottom: 20px;
  }
  .filters .col-2 ul{
      border: 2px solid rgb(37, 57, 148);
  }

  .filters .col-2 ul li{
      margin: 0;
      display: block !important;
      text-align: left;
      padding: 10px 110px 10px 10px;
      border-top: 2px solid rgb(77, 140, 233);
      border-bottom: 2px solid #555;
  }
  .filters .small-container{
      line-height: 30px;
      height: 1513px;
      margin-left: 20px;

  }
  .filters .col-2 input{
      width: 70%;
      color: #075777;
  }
  .main{
      margin-left: 20%;
      text-align: right !important;
  }
  .main #drop{
      background-color: rgb(120, 149, 175);
  }
  @media screen and (max-width: 760px) {
.main{
    margin:auto;
}
  }

/* -------------all products------------ */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 2px solid #075777;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;

}
.page-btn span{
    display: inline-block;
    border: 1px solid #86b3c5;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color:white;
}
.page-btn span:hover{
    background: #075777;
    color: #fff;
}

/* -----------single product details---------- */

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin:20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #075777;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #075777;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
   
}
.small-img-col img{
    height: 7rem;
}

/* ----------  cart items  ------------ */

.cart-page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #075777;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 60px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #075777;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price td{
    color:white;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #075777;
    width: 100%;
    max-width: 420px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
td button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
td button .fa{
    color: #075777;
}
small{
    color:white;
}

/* ------------  acoount page ------------ */
.account-page{
    padding: 50px 0;
    /* background: radial-gradient(#fff,#90ebe6); */
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 2px solid #ccc;

}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
for .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size:12px ;
}
#Indicator{
    width: 100px;
    border: none;
    background: #075777;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* ----------- Contact Us --------------- */
.contact .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.3) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: rgb(234, 240, 240);
    border-radius: 5px;
  
}
.contact .col-3:hover{
    transform: translateY(-10px);
}
.contact .col-3 h4,.contact .col-3 p{
    font-size: 1.3rem;
}

.contact-form .col-2{
    border-radius: 10px;
    margin-bottom: 5rem;
    text-align: left;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.3) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: rgb(244, 248, 248);
}
/* -------------- Shipping page ----------------- */
.shipping{
    border-bottom: 2px solid #555;
}
.shipping label{
    color:white;
}
.shipping .name input{
width: 30%;
}
.shipping .name label{
    margin-left: 30px;
}
.shipping .address input{
    width: 40%;
    margin-left: 30px;
    }
    .shipping .address label{
        margin-left: 30px;
       
    }
.shipping .state input{
        width: 30%;
        margin-left: 30px;
        }
.shipping .state label{
        margin-left: 20px;
        padding-right: 150px;
        }
.shipping{
    margin: auto;
    width: 80%;
}
#shipping input{
    width: 60%;
}
#shipping{
    margin: auto;
    width: 70%;
    color: #555;
}
#main{
    width: 75%;
    border-right: 2px solid #555;
}
.order{
    width: 25%;
    margin-left: 75%;
    padding-left: 25px;
    position:fixed;
}
@media (max-width: 768px) {
.order{
}
}

/* ---------------  about us  --------------- */
.about .col-4{
    min-width: 150px !important;margin-right: 10px;
    text-align: center;
    padding: 40px 10px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.3) ;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: rgb(171, 231, 231);
    border-radius: 5px;
    
  
}
.about .col-4:hover{
    transform: translateY(-10px);
}
.about .mySlides img{
    padding: 15px 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.about .mySlides p{
    color: #fff;
}
.about .mySlides{
    margin: 20px 0;
    width: 100%;
    padding: 18px 30px;
    text-align: center;
    background: #324c66;
    /* color: #fff; */
    border-radius: 10px;
}
.about .slideshow-container{
    background: #182225;
    width:100%;
    display: flex;
}
@media (max-width:768px){
    .about .slideshow-container{
        width:100%;
    }
}
.founder{
    text-align: center;
    margin:60px auto;
    border-radius: 10px;
    background: linear-gradient(rgb(46, 43, 43),#242d31);
}
.founder img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin: 40px 5px;
}
.founder h3{
    color: #fff;
    padding-bottom: 40px;
}
/* ------------  Confirmation Page --------------- */
.conformation-page .title{
    text-align: left;
}
.conformation-page .title::after{
    content: " ";
    background: #075777;
    width: 80px;
    height: 3px;
    border-radius: 5px;
    bottom: 0;
    transform: translateX(-450px);
    text-align: left !important;
}
#check{
    margin: 10px auto;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid #555;
    width: 80%;
}
#check p{
    font-size: 2rem;
    padding: 25px 5px;
}
#check img{
    
    height: 50px;
    width: 50px;
}
#check small{
    padding-bottom: 40px !important;
}
.conformation-page  .col{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left !important;
}
.conformation-page .payment{
    margin-bottom: 50px;
}

/* ------------  Search Button  ----------------- */

.search-page {
    margin: 80px auto;

}

  
  .search-container .search-container {
    float: right;
  }
  
  .search-page input[type=text] {
      width: 700px;
      height: 43px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .search-page .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transform: translateX(-280px);
  }
  
  .search-page .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .search-page .search-container {
      float: none;
    }
    .search-page input[type=text], .search-page .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-page input[type=text] {
      border: 1px solid #ccc;  
    }
  }



/* --------------media query for menu------------------ */

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width:100%;
        overflow: scroll;
        transition: max-height 0.5s;
        z-index:1;
        margin-bottom: 20px;
    }
    nav ul li{
        display: block;
        margin-right:50px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer ;
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align: center;

    }
    .col-2, .col-3, .col-4{
         flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;

    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/* ------------Sliders----------- */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
/* about us sliders */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
   
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev{
      left:0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.815);
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}